@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@layer base {
	html {
		font-family: "Plus Jakarta Sans", sans-serif;
	}

	body {
		display: flex;
		flex-direction: column;
		padding-top: 2em;
		padding-left: 5em;
		padding-right: 5em;
	}

	h1 {
		font-size: 3em;
		font-weight: 900;
	}
	
	h2 {
		font-size: 2.4em;
		font-weight: 550;
	}
	
	h3 {
		font-size: 1.8em;
		font-weight: 450;
	}

	table td, th{
		padding: 0.5em;
		border: 0.5px solid slategray;
	}

	button {
		font-size: small;
		padding: 0.2em 0.3em;
		color: white;
		border-radius: 5px;
		background-color: rgb(14 116 144);
	}

	#danger {
		background-color: brown;
	}

	#danger:hover {
		background-color: red;
	}

	button:hover {
		background-color: rgb(6 182 212);
	}
}
